.j-drawer {
	position: fixed;
	width: 100%;
	bottom: 0px;
}

	.j-drawer .j-bar {
		background-color: #eee;
		text-align: center;
	} .j-drawer .j-bar:hover{
		cursor: pointer;
	}

		.j-drawer .j-bar .j-tablink{
			color: white;
			display: inline-block;
			padding: 5px 10px;
			white-space: nowrap;
			color: black;
			border: none;
			background-color: transparent;
		}.j-drawer .j-bar .j-tablink:hover{
			color: red;
		}
		.j-drawer .j-bar .j-tablink.active{
			color: red;
		}
		.j-drawer .j-bar .j-tablink.disabled{
			color: grey;
		}
		.j-drawer .j-bar .j-tablink.desktopOnly{
			display: none;
		}
		.j-drawer .j-bar .j-tablink.mobileOnly{
			display: inline-block;
		}

	.j-drawer .j-bar .toggle-off,
	.jDrawer-open .j-drawer .j-bar .j-tablink.toggle-on {
	  display: none;
	}

	.j-drawer .j-bar .toggle-on,
	.jDrawer-open .j-drawer .j-bar .j-tablink.toggle-off {
	  display: inline-block;
	}
	
	

	.j-drawer .j-content{
		margin: 0px auto;
		width: 100%;
		max-width: 800px;
		background-color: white;
		overflow: auto;
		/*height: 300px;*/
	}
	
	

		.j-drawer .j-content .j-tab {
			display: none;
			padding: 10px;
		}.j-drawer .j-content .j-tab.active {
			display: block;
		}


	.j-drawer .j-drawer-container {
		margin: 0px auto;
		width: 100%;
		max-width: 800px;
		-webkit-box-shadow: 0px -2px 11px 0px rgba(50, 50, 50, 0.68);
		-moz-box-shadow:    0px -2px 11px 0px rgba(50, 50, 50, 0.68);
		box-shadow:         0px -2px 11px 0px rgba(50, 50, 50, 0.68);

	}
	.j-drawer .j-drawer-container.CSS3 {
		transition: .8s;
	    -ms-transition: .8s;
	    -o-transition: .8s;
	    -webkit-transition: .8s;-moz-
	    transition: .8s;
	  }

	.j-drawer .j-drawer-container.CSS3.notransition {
		  -webkit-transition: none !important;
		  -moz-transition: none !important;
		  -o-transition: none !important;
		  -ms-transition: none !important;
		  transition: none !important;
	}

@media screen and (min-width: 768px) {
   .j-drawer .j-bar .j-tablink.desktopOnly{
		display: inline-block;
	}
	.j-drawer .j-bar .j-tablink.mobileOnly{
		display: none;
	}
}
